body {
	background-image: url("../images/stones.jpg");
	font-family: 'Oxygen', 'sans-serif';
	color: white;
}

#content {
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	padding: 30px;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	height: 480px;
	width: 75%;
	border: 8px solid hsla(162, 0%, 100%, 0.8);
}

h1 {
	font-size: 3em;
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	color: white;
	margin: 40px 0px 20px 0px;
}

#intro_screen {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
}

#intro_screen p {
	display: block;
	text-align: center;
	font-size: 1.5em;
}

#time_remaining {
	margin-bottom: 15px;
	margin-top: 15px;
}

#time {
	font-weight: bold;
	color: #afffa8;
	opacity: .8;
	font-size: 2em;
}

#question_screen {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: calc(100% - 60px);
}

#question {
	text-align: center;
	margin-bottom: 15px;
	padding: 10px;
	color: white;
	font-size: 1.5em;
	line-height: 1.5em;
}

#answer_list div:hover {
	cursor: pointer;
}

.answer {
	padding: 10px;
	margin: 8px 0px 8px 0px;
	text-align: center;
	width: 400px;
	background: white;
	color: #1fc8db;
	font-size: 1.2em;
	transition: background-color .5s;
	transition-timing-function: ease;
}

.correct-clicked {
	background-color: #afffa8;
}

.incorrect-clicked {
	background-color: #ffa8a8;
}

.artist {
	font-weight: bold;
}

.result-message {
	color: #afffa8;
	font-size: 2.5em;
	text-align: center;
	margin-top: 6vh;
	margin-bottom: 6vh;
}

#img_info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	vertical-align: top;
	height: 20vh;
}

#img-info > img {
	box-shadow: 10px 10px 14px -4px black;
}

.answer-message {
	text-align: center;
	font-size: 1.5em;
	margin-top: 6vh;
}

.incorrect {
	color: #ffa8a8;
}

.score-message {
	color: #afffa8;
	font-size: 1.5em;
	text-align: center;
	margin-top: 40px;
}

button {
	margin: 20px 0 20px 0;
	background-color: white;
	border: none;
	color: #1fc8db;
	font-size: 1.5em;
	padding: 10px;
}

button:hover {
	cursor: pointer;
}

#end_screen {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#start {
	margin-top: 100px;
}

#restart {
	margin-top: 40px;
	text-align: center;
}

@media screen and (max-width: 768px) {

	#content {
		margin-top: 5px;
		height: 74vh;
	}

	h1 {
		margin-top: -15px;
		font-size: 2.5em;
	}

	#time {
		font-size: 5vh;
	}

	#intro_screen {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 68vh;
	}

	#start {
		margin-top: 0px;
	}

	#question_screen {
		height: 66vh;
	}

	#time_remaining {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#question {
		margin-bottom: 5px;
		font-size: 1em;
		line-height: 1.2em;
	}

	#answer_list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#img_info {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		vertical-align: top;
		height: initial;
		padding: 10px 20px 10px 20px;
	}

	#img_info img {
		width: 100px;
		height: auto;
	}

	.result-message {
		font-size: 2em;
		margin-bottom: 6vh;
	}

	.answer-message {
		text-align: center;
		font-size: 1.5em;
		margin-top: 0px;
		padding: 0px 0px 0px 20px;
	}

	#end_screen {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 65vh;
	}

	h2 {
		margin: 0;
	}

	.score-message {
		margin-top: 0;
	}

	button {
		margin: 0;
	}

	#restart {
		margin: 0;
	}

	.answer {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 38px;
		width: 33vw;
		font-size: 1em;
		padding: 5px;
		margin-top: 4px;
		margin-bottom: 4px;
	}

}

@media screen and (max-width: 500px) {
	#content {
		width: 93%;
		padding: 0px;
		height: 93vh;
	}

	h1 {
		margin-top: 30px;
		font-size: 3em;
	}

	#intro_screen {
		margin-top: 100px;
		height: initial;
	}

	#start {
		margin-top: 100px;
	}

	#question_screen {
		height: initial;
	}

	#question {
		margin-bottom: 10px;
	}

	#time {
		font-size: 1.5em;
	}

	#intro_screen p {
		margin: 0px 30px 0px 30px;
	}

	#time_remaining {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#score {
		margin-left: 30px;
		margin-right: 30px;
	}

	#question {
		font-size: 5vw;
		line-height: 1.5em;
	}

	#answer_list {
		display: block;
	}

	.answer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: initial;
		width: 80vw;
		font-size: 4vw;
		padding: 10px;
		margin-top: 8px;
		margin-bottom: 8px;
		height: 30px;
	}

	.answer-message {
		padding: 0px 15px 0px 15px;
		font-size: 1.5em;
	}

	.result-message {
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 2em;
	}

	#img_info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		vertical-align: top;
		height: 20vh;
	}

	#img_info img {
		width: initial;
		margin-bottom: 30px;
	}
}